/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* universal css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 4vw;
}
h2 {
    font-size: 3vw;
}
button {
    background-color: green;
    border: none;
    padding: 1vw 3vw;
    color : #fff;
    cursor: pointer;
}
/* welcome section css */
#welcome-section {
    background-color: #636c79;
    color: #fff;
}
/* nav area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area li {
    list-style-type: none;
    display: inline-block;
    margin: 2vw 0;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}
.menu-area a:hover {
    color: black;
}
.talk-btn {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid gray;
    color: #fff;
    font-weight: bold;
}
/* welcome content css */
.welcome-content {
    display: flex;
    padding: 10vh 0;
}
.welcome-img {
    width: 50%;
    padding: 0 7vw;
}
.welcome-img img {
    width: 100%;
    height: 30vw;
    border-radius: 10px;
    min-height: 400px;
}
.welcome-info {
    width: 50%;
}
.welcome-info p {
    color : #fff;
    margin-bottom: 3vw;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: .5vw;
}
.form input[type=email]{
    border: none;
    margin: 0 1vw;
    padding: 1vw 10vw 1vw 0vw;
}
.form i {
    color : black;
}
.form button {
    padding: 1vw 2vw;
}

/* Company Info section css */
.company-info-area {
    text-align: center;
    padding: 10vh 0;
}
.company-info-area h2{
    width: 50%;
    margin: 0 auto;
}
.company-info-area img {
    width: 100%;
}
.all-info {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
/* Our Words Section */
.our-words-area {
    padding: 10vh 0;
}
.our-words-area .words-title {
    width: 39%;
    text-align: center;
    margin: 0 auto;
}
.single-words-area {
    display: flex;
    align-items: center;
}
.single-words-area .words-img {
    width: 50%;
    padding: 3vw;
}
.single-words-area .words-img img {
    width: 100%;
}
.single-words-area .words-content {
    width: 50%;
    padding: 3vw;
}
/* Our Teams CSS */
.our-teams-area {
    padding: 10vh 0;
}
.teams-info {
    display: flex;
    align-items: center;
}
.team-title {
    width: 50%;
}
.team-title h2 {
    width: 70%;
}
.title-details {
    width: 50%;
}
.teams {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    padding: 2vw 0;
}
.single-team-info img {
    width: 100%;
}
.see-more-btn{
    text-align: center;
}
/* Footer area CSS */
footer {
    padding: 10vh 0;
    background-color: #000;
    color: #fff;
}
.footer-area hr {
    border: none;
    padding: 0;
    margin: 3vw 0;
    border-bottom: 1px solid gray;
}
.footer-up {
    display: flex;
    justify-content: space-between;
}
.footer-up .logo img {
    width: 9vw;
}
.footer-area ul {
    list-style-type: none;
    padding: 0;
}
.footer-area ul li {
    margin: 1vw 0;
}
.footer-area li a {
    text-decoration: none;
    color: #fff;
}
.social-icons ul {
    display: flex;
    font-size: 2vw;
    gap: 1vw;
    margin: 0;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer-bottom li a {
    color: gray;
    cursor: pointer;
}

/* Responsvie CSS */
@media(max-width: 850px){
    h2 {
        font-size: 4vw;
    }
    #welcome-section {
        padding: 2vh 0;
    }
    nav {
        flex-direction: column;
        padding: 2vh 0;
    }
    .logo-area img {
        margin-bottom: 3vw;
        width: 15vw;
    }
    #talk-btn {
        display: block;
        text-align: center;
        margin: 3vw auto !important;
    }
    .welcome-content {
        flex-direction: column;  
    }
    .welcome-img,.welcome-info {
        width: 100%;
    }
    .welcome-img {
        width: 100%;
        padding: 0;
    }
    .form {
        justify-content: space-between;
    }
    .company-info-area {
        padding: 5vh 0;
    }
    .welcome-content {
        padding: 3vw 0;
    }
    .our-words-area {
        padding: 0 0 5vh 0;
    }
    .single-words-area {
        flex-direction: column;
        gap: 6vw;
    }
    .single-words-area:nth-child(3){
        flex-direction: column-reverse;
    }
    .words-img,.words-content {
        width: 100% !important;
    }
    .our-teams-area {
        padding: 5vh 0;
    }
    .team-title h2 {
        font-size: 4vw;
    }
    .title-details p {
        text-align: justify;
    }
    .teams {
        flex-direction: column;
    }
    footer {
        padding: 3vh 0;
    }
    .footer-up .logo img {
        width: 15vw;
    }
    .footer-up ul {
        font-size: 5vw;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .footer-area ul li {
        display: inline-block;
    }
    .footer-area ul li a {
        margin: 2vw 4vw;
    }
    .footer-end {
        text-align: center;
    }
    .footer-end span {
        color: crimson;
    }
}