/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* universal css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 4vw;
}
h2 {
    font-size: 3vw;
}
button {
    background-color: green;
    border: none;
    padding: 12px 25px;
    color : #fff;
    cursor: pointer;
}
/* welcome section css */
#welcome-section {
    background-color: #636c79;
    color: #fff;
}
/* nav area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}
.menu-area a:hover {
    color: black;
}
.talk-btn {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid gray;
    color: #fff;
    font-weight: bold;
}
/* welcome content css */
.welcome-content {
    display: flex;
    padding: 10vh 0;
}
.welcome-img {
    width: 50%;
    padding: 0 7vw;
}
.welcome-img img {
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    min-height: 400px;
}
.welcome-info {
    width: 50%;
}
.welcome-info p {
    color : #fff;
    margin-bottom: 3vw;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: .5vw;
}
.form input[type=email]{
    border: none;
    margin: 0 1vw;
    padding: 1vw 10vw 1vw 0vw;
}
.form i {
    color : black;
}

/* Company Info section css */
.company-info-area {
    text-align: center;
    padding: 10vh 0;
}
.company-info-area h2{
    width: 50%;
    margin: 0 auto;
}
.company-info-area img {
    width: 100%;
}
.all-info {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
/* Our Words Section */
.our-words-area {
    padding: 10vh 0;
}
.our-words-area .words-title {
    width: 39%;
    text-align: center;
    margin: 0 auto;
}
.single-words-area {
    display: flex;
    align-items: center;
}
.single-words-area .words-img {
    width: 50%;
    padding: 3vw;
}
.single-words-area .words-img img {
    width: 100%;
}
.single-words-area .words-content {
    width: 50%;
    padding: 3vw;
}

